<%# ヘッダー %>
<%= render 'shared/header' %>

<div class='training-content'>
  <div class='training-left-content'>
    <%# タイトル %>
    <h1><%= @training.name %></h1>
    <%# 画像 %>
    <% if @training.image.attached? %>
      <%= image_tag @training.image.variant(resize_to_limit: [350, 250]), class: 'training-image' %>
    <% end %>
    <%# 開催時間 %>
    <div class='training-group'>
      <h2>練習時間</h2>
      <div class='training-text'>
        <%= "#{l(@training.start_at, format: :long)} - #{l(@training.end_at, format: :long)}" %>
      </div>
    </div>
    <%# 開催地域 %>
    <div class='training-group'>
      <h2>開催地域</h2>
      <div class='training-text'>
        <%= @training.prefecture.name %>
      </div>
    </div>
    <%# 開催場所 %>
    <div class='training-group'>
      <h2>練習場所</h2>
      <div class='training-text'>
        <%= @training.place %>
      </div>
    </div>
    <%# 練習内容 %>
    <div class='training-group'>
      <h2>練習内容</h2>
      <div class='training-text'>
        <%= safe_join(@training.content.split("\n"), tag(:br)) %>
      </div>
    </div>
    <%# 主催者 %>
    <div class='training-group'>
      <h2>主催者</h2>
      <div class='training-text'>
        <%= @training.owner.name %>
      </div>
    </div>
  </div>
  <div class='training-right-content'>
    <% if @training.created_by?(current_user) %>
      <%# 編集ボタン %>
      <%= link_to 'トレーニングを編集', edit_training_path(@training), class: 'edit-training-path' %>
      <%# 削除ボタン %>
      <%= link_to 'トレーニングを削除', training_path(@training), method: :delete, data: { confirm: '本当に削除しますか' }, class: 'destroy-training-path' %>
    <% end %>
    <% if user_signed_in? && @training.created_by?(current_user) != true %>
      <% if @ticket && @ticket.id != nil %>
        <%# キャンセルボタン %>
        <%= link_to '参加をキャンセル', training_ticket_path(@training, @tickets), method: :delete, class: 'cancel-training-path' %>
      <% else %>
        <%# 参加ボタン %>
        <div class='join-training-path' id='join-training-path'>トレーニングに参加</div>
      <% end %>
    <% end %>
    <%# モーダルウィンドウ %>
    <div class='comment-modal-window' id='comment-modal-window'>
      <%= form_with url: training_tickets_path(@training), class: 'comment-modal-form', local: true do |f| %>
        <h3 class="comment-text">参加コメント</h3>
        <%= f.text_field :comment, id: 'comment', class: 'comment-input' %>
        <div class='comment-btn'>
          <div class='comment-cancel-btn' id='comment-cancel-btn'>キャンセル</div>
          <%= f.submit '送信' ,class:'comment-submit-btn' %>
        </div>
      <% end %>
    </div>
    <%# モーダルウィンドウ %>
    <%# コメントのエラーメッセージ %>
    <% if @ticket %>
      <%= render 'shared/error_messages', model: @ticket %>
    <% end %>
    <%# 参加者一覧 %>
    <% if @tickets.present? %>
      <div class='participants-title'>参加者</div>
      <div class='participants-list'>
        <% @tickets.each do |ticket| %>
          <div class='participant-content'>
            <p class='participant-name'>@<%= ticket.user.name %></p>
            <% if ticket.comment.present? %>
              <p class='participant-comment'><%= ticket.comment %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


<%# フッター %>
<%= render 'shared/footer' %>