<header>
  <%# ロゴ %>
  <a href='/'>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="448" height="68" viewBox="0 0 448 68">
      <defs>
        <filter id="Match_Trainees" x="0" y="0" width="448" height="68" filterUnits="userSpaceOnUse">
          <feOffset dx="2" dy="4" input="SourceAlpha"/>
          <feGaussianBlur stdDeviation="3" result="blur"/>
          <feFlood flood-opacity="0.161"/>
          <feComposite operator="in" in2="blur"/>
          <feComposite in="SourceGraphic"/>
        </filter>
      </defs>
      <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Match_Trainees)">
        <text id="Match_Trainees-2" data-name="Match Trainees" transform="translate(7 5)" fill="#165e83" font-size="50" font-family="Copperplate-Bold, Copperplate" font-weight="700"><tspan x="0" y="38">Match Trainees</tspan></text>
      </g>
    </svg>
  </a>
  <%# ユーザーセッション %>
  <ul class='user-session'>
    <li>
    <%= link_to '募集する', new_training_path, class: 'recruit-partner' %>
    </li>
    <% if user_signed_in? %>
      <li>
        <% if current_user.image_url %>
          <%= link_to image_tag(current_user.image_url, class: 'user-image'), '#' %>
        <% else %>
          <%= link_to current_user.name, '#' %>
        <% end %>
      </li>
      <li>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to '新規登録', new_user_registration_path %>
      </li>
      <li>
        <%= link_to 'ログイン', new_user_session_path %>
      </li>
    <% end %>
  </ul>
</header>
