<%# ヘッダー %>
<%= render 'shared/header' %>
<%# 背景画像 %>
<%= image_tag 'top_cover.jpeg', class: 'top-cover' %>
<h1 class='catch-copy'>トレーニングパートナーを見つけよう。</h1>
<%# 検索フォーム %>
<h3 class='search-form-label'>お住まいの地域で検索</h3>
<%= search_form_for @t, url: searches_path, class: 'search-form' do |f| %>
  <%= f.collection_select :prefecture_id_eq, Prefecture.where(id: 2..48), :id, :name, include_blank: false, class: 'search-select-prefecture' %>
  <%= f.submit '検索', class: 'search-training-btn' %>
<% end %>
<%# 募集中のトレーニングを一覧表示 %>
<div class='top-training-area'>
  <h2>募集中のトレーニング</h2>
  <ul class='top-training-list'>
    <% @trainings.each do |training| %>
      <a href=<%= "trainings/#{training.id}" %>>
        <li class='top-training-content'>
          <div class='top-training-content-top'>
            <% if training.image.attached? && training.image.blob&.persisted? %>
              <%= image_tag training.image, class: 'training-content-image' %>
            <% else %>
              <%= image_tag 'training-dummy-image.png', class: 'training-content-image' %>
            <% end %>
          </div>
          <div class='top-training-content-middle'>
            <div class='training-name'><%= training.name %></div>
            <div><%= l(training.start_at, format: :long) %></div>
            <div class='training-place'><%= training.place %></div>
          </div>
          <div class='top-training-content-bottom'>
            <div class='training-owner-name'><%= training.owner.name %></div>
          </div>
        </li>
      </a>
    <% end %>
  </ul>
  <%= link_to 'もっと見る', trainings_path, class: 'show-trainings' %>
</div>
<%# フッター %>
<%= render 'shared/footer' %>
