<!DOCTYPE html>
<html>
  <head>
    <title>MatchTrainees</title>
    <%= favicon_link_tag('favicon.ico')%>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- GoogleFonts Noto Serif JP -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= javascript_pack_tag 'flash_notice_vue' %>
    <% if flash.notice %>
      <div v-bind:class='flashClassObject' class='notice-container' id='flash-notice'>
        <%= flash.notice %>
        <div v-on:click='isActive = !isActive' id='flash-notice-close'>
          <%= image_tag 'outline_cancel_black_24dp.png', class: 'notice-close'%>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
